$breakpoint-tablet: 768px;
$breakpoint-pc: 1281px;

@media (orientation: landscape) {
    .introduction {
        background-image: url('../assets/image/coffee-background-landscape.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: right bottom;

        & .intro-content {
            text-align: left;
            width: 50%;
            margin-left: 0px;
        }
    }
}

@media (orientation: portrait) {
    .introduction {
        background-image: url('../assets/image/coffee-background.jpg');
        background-size: auto 100%;
        background-repeat: no-repeat;

        & .intro-content {
            text-align: center;
            margin-top: 10vh;
            width: 80vw;

            & .button-container {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    html {
        font-size: calc(2vh);
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (orientation: landscape) {
    html { font-size: calc(1.5vw);}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (orientation: landscape) {
    html { font-size: calc(1.8vw);}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (orientation: landscape) {
    html { font-size: calc(1.6vw);}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (orientation: landscape) {

    html { font-size: calc(1.2vw);}

    .introduction {

        & .intro-content {
            width: 50vw;
        }
    }
}

/* iPads */
@media only screen and (min-width : 1024px) and (orientation: landscape) {
    // html { font-size: calc(1.6vw);}    
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) and (orientation: landscape) {/* Large Devices, Wide Screens */

    .pre-introduction {

        & .button-container {
            width: 50vw;
            margin-left: 25vw;
        }
    }

    html {
        font-size: calc(1.7vw);
    }
}

@media only screen and (min-width : 1920px) and (orientation: landscape) {
    html {
        font-size: calc(1.2vw);
    }
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}